<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096895928039-udqr2dn8kpur75luunr7kp5fdg65nbvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096895928039-udqr2dn8kpur75luunr7kp5fdg65nbvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDVxLiOBo8WBfWN7G69LBoGGTo6gTwsbD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096895928039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-fe5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-fe5c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096895928039:ios:2dc9a05bfba22c9994f442</string>
</dict>
</plist>